In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
Product_name = []
Prices = []
Rating = []

In [3]:
for i in range(2,12):
    url = "https://www.flipkart.com/search?q=mobiles+5g&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_2_7_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_2_7_na_na_na&as-pos=2&as-type=RECENT&suggestionId=mobiles+5g%7CMobiles&requestId=f2934c55-998d-4431-9fba-f770871652d7&as-backfill=on&page="+str(i)
    r = requests.get(url)
    soup = BeautifulSoup(r.text,"lxml")
    box = soup.find("div",class_="_1YokD2 _3Mn1Gg") 
    names = box.find_all("div",class_="_4rR01T")
    for i in names:
        name = i.text
        Product_name.append(name)
    prices = box.find_all("div",class_="_30jeq3 _1_WHN1")
    for i in prices:
        price = i.text
        Prices.append(price)
    ratings = box.find_all("div",class_="_3LWZlK")
    for i in ratings:
        rating = i.text
        Rating.append(rating)
df = pd.DataFrame({"Product Name":Product_name,"Prices":Prices,"Rating":Rating})
print(df)

                                    Product Name     Prices Rating
0             vivo T2 Pro 5G (Dune Gold, 128 GB)    ₹23,999    4.5
1        vivo T2 Pro 5G (New Moon Black, 256 GB)    ₹24,999    4.5
2             vivo T2 Pro 5G (Dune Gold, 256 GB)    ₹24,999    4.5
3         realme 11x 5G (Midnight Black, 128 GB)    ₹14,999    4.4
4        vivo T2 Pro 5G (New Moon Black, 128 GB)    ₹23,999    4.5
..                                           ...        ...    ...
235  SAMSUNG Galaxy A14 5G (Light Green, 128 GB)    ₹16,999    4.1
236       REDMI Note 12 5G (Matte Black, 256 GB)    ₹18,999    4.1
237               APPLE iPhone 13 (Blue, 128 GB)    ₹52,990    4.6
238  APPLE iPhone 15 Pro (Blue Titanium, 128 GB)  ₹1,30,990    4.7
239     realme Narzo 60 5G (Mars Orange, 256 GB)    ₹19,999    4.3

[240 rows x 3 columns]

In [4]:
df["Prices"] = df["Prices"].apply(lambda x : x[1:])

In [5]:
df.head()

                              Product Name  Prices Rating
0       vivo T2 Pro 5G (Dune Gold, 128 GB)  23,999    4.5
1  vivo T2 Pro 5G (New Moon Black, 256 GB)  24,999    4.5
2       vivo T2 Pro 5G (Dune Gold, 256 GB)  24,999    4.5
3   realme 11x 5G (Midnight Black, 128 GB)  14,999    4.4
4  vivo T2 Pro 5G (New Moon Black, 128 GB)  23,999    4.5

In [6]:
df.to_csv("5G_Mobiles_on_Flipkart.csv")