In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
for i in range(2,10):
    url = "https://www.flipkart.com/search?q=shoes&as=on&as-show=on&otracker=AS_Query_TrendingAutoSuggest_1_0_na_na_na&otracker1=AS_Query_TrendingAutoSuggest_1_0_na_na_na&as-pos=1&as-type=HISTORY&suggestionId=shoes&requestId=6847c7d9-8e63-4651-85d9-9e17950087c7&page="+str(i)
    r = requests.get(url)
    soup = BeautifulSoup(r.text,"lxml")
    box = soup.find("div",class_="_1YokD2 _3Mn1Gg")
    np = soup.find("a", class_="_1LKTO3").get("href")
    cnp="https://www.flipkart.com"+np
    print(cnp)

https://www.flipkart.com/search?q=shoes&as=on&as-show=on&otracker=AS_Query_TrendingAutoSuggest_1_0_na_na_na&otracker1=AS_Query_TrendingAutoSuggest_1_0_na_na_na&as-pos=1&as-type=HISTORY&suggestionId=shoes&requestId=6847c7d9-8e63-4651-85d9-9e17950087c7&page=1
https://www.flipkart.com/search?q=shoes&as=on&as-show=on&otracker=AS_Query_TrendingAutoSuggest_1_0_na_na_na&otracker1=AS_Query_TrendingAutoSuggest_1_0_na_na_na&as-pos=1&as-type=HISTORY&suggestionId=shoes&requestId=6847c7d9-8e63-4651-85d9-9e17950087c7&page=2
https://www.flipkart.com/search?q=shoes&as=on&as-show=on&otracker=AS_Query_TrendingAutoSuggest_1_0_na_na_na&otracker1=AS_Query_TrendingAutoSuggest_1_0_na_na_na&as-pos=1&as-type=HISTORY&suggestionId=shoes&requestId=6847c7d9-8e63-4651-85d9-9e17950087c7&page=3
https://www.flipkart.com/search?q=shoes&as=on&as-show=on&otracker=AS_Query_TrendingAutoSuggest_1_0_na_na_na&otracker1=AS_Query_TrendingAutoSuggest_1_0_na_na_na&as-pos=1&as-type=HISTORY&suggestionId=shoes&requestId=6847c7d9-8e63-4651-85d9-9e17950087c7&page=4
https://www.flipkart.com/search?q=shoes&as=on&as-show=on&otracker=AS_Query_TrendingAutoSuggest_1_0_na_na_na&otracker1=AS_Query_TrendingAutoSuggest_1_0_na_na_na&as-pos=1&as-type=HISTORY&suggestionId=shoes&requestId=6847c7d9-8e63-4651-85d9-9e17950087c7&page=5
https://www.flipkart.com/search?q=shoes&as=on&as-show=on&otracker=AS_Query_TrendingAutoSuggest_1_0_na_na_na&otracker1=AS_Query_TrendingAutoSuggest_1_0_na_na_na&as-pos=1&as-type=HISTORY&suggestionId=shoes&requestId=6847c7d9-8e63-4651-85d9-9e17950087c7&page=6
https://www.flipkart.com/search?q=shoes&as=on&as-show=on&otracker=AS_Query_TrendingAutoSuggest_1_0_na_na_na&otracker1=AS_Query_TrendingAutoSuggest_1_0_na_na_na&as-pos=1&as-type=HISTORY&suggestionId=shoes&requestId=6847c7d9-8e63-4651-85d9-9e17950087c7&page=7
https://www.flipkart.com/search?q=shoes&as=on&as-show=on&otracker=AS_Query_TrendingAutoSuggest_1_0_na_na_na&otracker1=AS_Query_TrendingAutoSuggest_1_0_na_na_na&as-pos=1&as-type=HISTORY&suggestionId=shoes&requestId=6847c7d9-8e63-4651-85d9-9e17950087c7&page=8

In [3]:
Product_name = []
Prices = []

In [4]:
for i in range(2,12):
    url = "https://www.flipkart.com/search?q=shoes&as=on&as-show=on&otracker=AS_Query_TrendingAutoSuggest_1_0_na_na_na&otracker1=AS_Query_TrendingAutoSuggest_1_0_na_na_na&as-pos=1&as-type=HISTORY&suggestionId=shoes&requestId=6847c7d9-8e63-4651-85d9-9e17950087c7&page="+str(i)
    r = requests.get(url)
    soup = BeautifulSoup(r.text,"lxml")
    box = soup.find("div",class_="_1YokD2 _3Mn1Gg") 
    names = box.find_all("div",class_="_2WkVRV")
    for i in names:
        name = i.text
        Product_name.append(name)
    prices = box.find_all("div",class_="_30jeq3")
    for i in prices:
        price = i.text
        Prices.append(price)
df = pd.DataFrame({"Product Name":Product_name,"Prices":Prices})
print(df)

     Product Name  Prices
0        URBANBOX    ₹299
1           TPENT    ₹444
2          AJANTA    ₹289
3          CAMPUS    ₹749
4          CAMPUS    ₹989
..            ...     ...
395  Allen Cooper  ₹1,157
396      Afrojack    ₹679
397       BIG FOX    ₹684
398      Vellinto    ₹699
399        LANCER    ₹673

[400 rows x 2 columns]

In [6]:
df["Prices"] = df["Prices"].apply(lambda x : x[1:])

In [7]:
df.head()

  Product Name Prices
0     URBANBOX    299
1        TPENT    444
2       AJANTA    289
3       CAMPUS    749
4       CAMPUS    989

In [8]:
df.to_csv("Flipkart_Shoes.csv")